* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: black;
}

header {
  text-align: center;
  padding: 25px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
}

main {
  display: flex;
}
